<strong>Olá, {{ provider }} </strong>
<p>Uma nova encomenda foi associada a você, confira os detalhes abaixo:</p>
<p>
  <strong>Endereço:</strong> {{ address }} <br />
  <strong>Encomenda:</strong> {{ order }} <br />
</p>